.swiper {
	width: 320px;
	height: 320px;

}

.swiper-slide {
	background-position: center;
	background-size: cover;
}

.swiper-slide img {
	display: block;
	width: 100%;
}

.swiper-pagination-horizontal {
	bottom: -25px !important;
}

.swiper-pagination-bullet-active {
	color: #000 !important;
	background-color: #000 !important;
}