.hero-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65vh;
	padding: 20px;
	background-color: #f08e8e;
	@media (max-width: 765px) {
		height: 80vh;
	}
	.limiter {
		display: flex;
		max-width: 1120px;
		width: 100%;
		@media (max-width: 765px) {
			flex-direction: column;
		}

		.left {
			width: 100%;
			align-items: center;
			display: flex;

			.hero-title {
				font-size: 3.125rem;
				color: #fff;
				font-family: Courgette;
				font-weight: 400;
				@media (max-width: 765px) {
					margin-bottom: 50px;
				}
			}
		}

		.right {
			width: 100%;
		}
	}
}
